/*
* @Author: Administrator
* @Date:   2018-08-28 23:49:34
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-31 00:29:10
*/
/******************公共样式 类***********************/
.margin_auto{
    margin:0 auto;
}
.border1px{
    border:1px solid red;
}
.width1200{
    width:1200px;
}
input{
    border:0;
}
header iframe{
    width:100%;
    height:230px;
}
/******************header.html样式***********************/

/*顶部区域*/
#topbox{

}
.header_top{
	width:100%;
	background: rgb(249, 250, 250);
	
}
.top{
	width:1200px;
	/*margin:0 auto;*/
	padding: 5px 0;
	border-bottom: 1px solid #D7D7D7;
}

.header_top .collection{
	/*height:16px;*/
	float: left;
}
.header_top .collection em{
	display: inline-block;
	width:16px;
	height: 16px;
	/*border:1px solid red;*/
	margin-right:5px;
	line-height: 16px;
	background: url(../images/indexhead_sprite.png) no-repeat -283px -62px;
}
.collection em{
	background: url();
}
.header_top .top_menu {
	padding-top: 4px;
	float: right;
	margin-right: 10px;
}
.header_top .top_menu li{
	float: left;
	margin-left: 5px;
	margin-right: 4px;
}

.text-gray{
    color:#C9C9C9;
}
.top a.login{
	color:#EB000E;
}    
.top a.login:hover{
	color:#FF0000;
} 
li.new_user~li{
	border-right: 1px solid #C9C9C9;
	padding-right: 10px;
}
/*logo区域  输入框区域*/
.logo_box{
	margin-top: 16px;
}
.logo_box .search_box,.logo_box .gwc{
	display: inline-block;
	
}
.search_input{
	width: 450px;
	height: 32px;
	padding-left: 40px;
	border: 3px solid #FF7200;
}
.logo_box .search_box{
	margin-left: 70px;
	width:800px;
	position:relative;

}
.logo_box .search_box p a:nth-child(1){
	margin-left: 10px;

}
.logo_box .search_box p a{
	margin-right: 14px;
	font-size: 14px;
}
.logo_box .search_box p{
	padding: 3px 0;

}
.logo_box  .search{
	width: 95px;
	height: 40px;
	background: #ff7200;
	color:#fff;
	margin-left:-3px;
}
.logo_box .gwc{
	float: right;
	width: 146px;
	height: 36px;
	position: absolute;
	top:0px;right: 0px;
	background-color: #f9f9f9;
	border:1px solid #DBDBDB;
	padding:2px 0;
	box-sizing:border-box;
}
.logo_box .gwc em{
	display: inline-block;
	font-size: 26px;
	margin-left: 17px;
	    color: #ff7200;
	    padding-right: 3px;
}
.logo_box .gwc a{
	line-height: 36px;
}
.logo_box .gwc .ci-right{
	top: 11px;
    right: 10px;
    width: 7px;
    height: 13px;
    overflow: hidden;
        font: 400 14px/13px simsun;
        color:#999;
}
.logo_box .gwc .ci-count{
	position: absolute;
	top:-4px;
	right:24px;
	font-size: 10px;
	line-height: 12px;
	min-width:12px;
	padding:1px 2px;
	color: #FFF;
    background-color: #ff7200;
    border-radius:7px 7px 7px 0;
    text-align:center;

}
/*头部菜单导航区域*/
header .menu{
	margin-top: 42px;
	border-bottom:3px solid #ff7200;
}
header .menu li{
	float: left;
	height:40px;
}
header .menu li:nth-child(4){
	position: relative;
}
.hot_icon{
	width: 29px;
	height: 17px;
	background: url(../images/indexhead_sprite.png) no-repeat -272px -144px; 
	position:absolute;
	top:-15px;
	left:54px;
}
header .menu li a{
	font-size: 16px;
	line-height: 40px;
	padding:14px 16px 11px ;
}
header .menu li a.first_li{
	padding:14px 64px  11px 40px;
	background-color: #ff7200;
	color:#fff;
}
header .menu li a:hover{
	background-color: #ff7200;
	color:#fff;
}
/******************index.html样式***********************/
