/*
* @Author: Administrator
* @Date:   2018-08-28 23:49:34
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-31 00:29:10
*/
/******************公共样式 类***********************/
.margin_auto{
    margin:0 auto;
}
.border1px{
    border:1px solid red;
}
.width1200{
    width:1200px;
}
input{
    border:0;
}
header iframe{
    width:100%;
    height:230px;
}
/******************header.html样式***********************/

/*顶部区域*/
#topbox{

}
.header_top{
	width:100%;
	background: rgb(249, 250, 250);
	
}
.top{
	width:1200px;
	/*margin:0 auto;*/
	padding: 5px 0;
	border-bottom: 1px solid #D7D7D7;
}

.header_top .collection{
	/*height:16px;*/
	float: left;
}
.header_top .collection em{
	display: inline-block;
	width:16px;
	height: 16px;
	/*border:1px solid red;*/
	margin-right:5px;
	line-height: 16px;
	background: url(../images/indexhead_sprite.png) no-repeat -283px -62px;
}
.collection em{
	background: url();
}
.header_top .top_menu {
	padding-top: 4px;
	float: right;
	margin-right: 10px;
}
.header_top .top_menu li{
	float: left;
	margin-left: 5px;
	margin-right: 4px;
}

.text-gray{
    color:#C9C9C9;
}
.top a.login{
	color:#EB000E;
}    
.top a.login:hover{
	color:#FF0000;
} 
li.new_user~li{
	border-right: 1px solid #C9C9C9;
	padding-right: 10px;
}
/*logo区域  输入框区域*/
.logo_box{
	margin-top: 16px;
}
.logo_box .search_box,.logo_box .gwc{
	display: inline-block;
	
}
.search_input{
	width: 450px;
	height: 32px;
	padding-left: 40px;
	border: 3px solid #FF7200;
}
.logo_box .search_box{
	margin-left: 70px;
	width:800px;
	position:relative;

}
.logo_box .search_box p a:nth-child(1){
	margin-left: 10px;

}
.logo_box .search_box p a{
	margin-right: 14px;
	font-size: 14px;
}
.logo_box .search_box p{
	padding: 3px 0;

}
.logo_box  .search{
	width: 95px;
	height: 40px;
	background: #ff7200;
	color:#fff;
	margin-left:-3px;
}
.logo_box .gwc{
	float: right;
	width: 146px;
	height: 36px;
	position: absolute;
	top:0px;right: 0px;
	background-color: #f9f9f9;
	border:1px solid #DBDBDB;
	padding:2px 0;
	box-sizing:border-box;
}
.logo_box .gwc em{
	display: inline-block;
	font-size: 26px;
	margin-left: 17px;
	    color: #ff7200;
	    padding-right: 3px;
}
.logo_box .gwc a{
	line-height: 36px;
}
.logo_box .gwc .ci-right{
	top: 11px;
    right: 10px;
    width: 7px;
    height: 13px;
    overflow: hidden;
        font: 400 14px/13px simsun;
        color:#999;
}
.logo_box .gwc .ci-count{
	position: absolute;
	top:-4px;
	right:24px;
	font-size: 10px;
	line-height: 12px;
	min-width:12px;
	padding:1px 2px;
	color: #FFF;
    background-color: #ff7200;
    border-radius:7px 7px 7px 0;
    text-align:center;

}
/*头部菜单导航区域*/
header .menu{
	margin-top: 42px;
	/*border-bottom:3px solid #ff7200;*/
}
header .menu li{
	float: left;
	height:40px;
}
header .menu li:nth-child(4){
	position: relative;
}
.hot_icon{
	width: 29px;
	height: 17px;
	background: url(../images/indexhead_sprite.png) no-repeat -272px -144px; 
	position:absolute;
	top:-15px;
	left:54px;
}
header .menu li a{
	font-size: 16px;
	line-height: 40px;
	padding:14px 16px 11px ;
}
header .menu li a.first_li{
	padding:14px 64px  11px 40px;
	background-color: #ff7200;
	color:#fff;
}
header .menu li a:hover{
	background-color: #ff7200;
	color:#fff;
}
/******************index.html样式***********************/
/*轮播图区域*/
.slideBox{
	width:100%;
	height: 460px;
	position: relative;	
	top:-5px;
	border-top:4px solid #EE6800;
	/*background: pink;*/
}
.slideBox .bottom_ul{
	width: 100%;
	height: 30px;
	position: absolute;
	top: 426px;
	z-index:3;
}
.slideBox .bottom_ul ul{
	
	width: 200px;
	height: 30px;
	line-height: 30px;

	background: #fff;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	opacity:0.8;
	filter:alpha(opacity=80);	/*兼容低版本IE浏览器透明度属性设置*/
	-moz-opacity:0.8;	/*火狐兼容*/
	text-align: center;
	padding:0 30px;
	box-sizing: border-box;

}
.slideBox .bottom_ul ul li{
	width: 20px;
	height: 20px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	margin-right:8px;
	background: #000;
	box-shadow:0 0 3px;
	float: left;
	margin-top:5px;
	cursor:pointer;
}
.slideBox .bottom_ul ul li:hover{
	background: #CC0000;
}
.slideBox .lunbo_imgs{
	/*position: relative;*/
	width: 100%;
	/*border:1px solid green;*/
	/*left:300px;*/
	/*top:0;*/
}
/*轮播图片布局*/
.slideBox .lunbo_imgs  ul {
	width: 100%;
	height:460px;
	/*border:1px solid green;*/
	/*position:relative;*/

}
.slideBox .lunbo_imgs li{
	/*float: left;*/
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:460px;
	/*line-height: 460px;*/
	text-align:center;
}
.slideBox .lunbo_imgs li:nth-child(1){

	background-color: #ffe382;
}
.slideBox .lunbo_imgs li:nth-child(3){
	
	background-color: #D591C0;
}
.slideBox .lunbo_imgs li:nth-child(4){
	background-color: #F2D9E8;
}
.slideBox .lunbo_imgs li:nth-child(4){
	background-color: #ED5634;
}
.slideBox .lunbo_imgs li a{
	display: inline-block;
	width:100%;
	height:460px;
	
}
.slideBox .lunbo_imgs li img{
		height:460px;
		
}	
.slideBox .lunbo_imgs .lunbo_img1{
	width:780px;
	background: url(../AD/ad-1.jpg) no-repeat;
}
.slideBox .lunbo_imgs .lunbo_img2{
	min-width:100%;
	background: url(../AD/ad-2.jpg) no-repeat;
	background-position:center center;
}

.slideBox .lunbo_imgs .lunbo_img3{
	width:780px;
	background: url(../AD/ad-3.jpg) no-repeat;
	background-size:cover;
}
.slideBox .lunbo_imgs .lunbo_img7{
	width:556px;
	height: 460px;
	background: url(../AD/ad-7.jpg) no-repeat;
	background-position: center;
	/*background-size:contain;*/
}
.slideBox .lunbo_imgs .lunbo_img6{
	width:700px;
	/*height: 460px;*/
	background: url(../AD/ad-6.jpg) no-repeat;
	/*background-position: center;*/
	background-size:cover;
}
/*轮播图左右两个按钮*/
.slideBox .lunbo_imgs~div a{
	width: 30px;
	height: 100px;
	margin-top: 165px;
	position:absolute;
	/*top:156px;*/
	background:#fff;
	opacity:0.3;
	filter:alpha(opacity=30);
	border-radius:10px;
	top:0;
	box-sizing:border-box;
}
.slideBox  .prev a{
	left:0;
}
.slideBox  div em{
	width:20px;
	height:20px;
	display:inline-block;
	/*border:1px solid red;*/
	position: absolute;
	top:40px;
	
}

.slideBox  .prev a em{
	left:4px;
	background: url(../images/arrow-left.png) no-repeat;
	
	/*z-index:4;*/
	
	/*left:76px;*/
}
.slideBox  .next a{
	right:0;
}
.slideBox  .next a em{
	background: url(../images/arrow-right.png) no-repeat;
	left:12px;
}