/*
* @Author: Administrator
* @Date:   2018-08-28 23:49:34
* @Last Modified by:   Administrator
* @Last Modified time: 2018-09-15 23:10:43
*/
/******************公共样式 类***********************/
.margin_auto{
    margin:0 auto;
}
.border1px{
    border:1px solid red;
}
.width1200{
    width:1200px;
}
input{
    border:0;
}
header.top_header iframe{
    width:100%;
    height:235px;
}
a{
	font-size: 12px;
}
footer iframe{
	width:100%;
	min-height:470px;

}
/******************header.html样式***********************/

/*顶部区域*/
body{
	overflow:scroll;
	overflow-x:hidden;
}
#main{
	margin: 0 auto;
	width:1200px;
	/*border-right:1px solid red;
	border-left:1px solid red;*/

	/*position: relative;*/
}
#topbox{
	position: relative;
}
.header_top{
	width:100%;
	background: rgb(249, 250, 250);
	
}
.top{
	width:1200px;
	/*margin:0 auto;*/
	padding: 5px 0;
	border-bottom: 1px solid #D7D7D7;
}

.header_top .collection{
	/*height:16px;*/
	float: left;
}
.header_top .collection em{
	display: inline-block;
	width:16px;
	height: 16px;
	/*border:1px solid red;*/
	margin-right:5px;
	line-height: 16px;
	background: url(../images/indexhead_sprite.png) no-repeat -283px -62px;
}
.collection em{
	background: url();
}
.header_top .top_menu {
	padding-top: 4px;
	float: right;
	margin-right: 10px;
}
.header_top .top_menu li{
	float: left;
	margin-left: 5px;
	margin-right: 4px;
}

.text-gray{
    color:#C9C9C9;
}
.top a.login{
	color:#EB000E;
}    
.top a.login:hover{
	color:#FF0000;
} 
li.new_user~li{
	border-right: 1px solid #C9C9C9;
	padding-right: 10px;
}
/*logo区域  输入框区域*/
.logo_box{
	margin-top: 16px;
}
.logo_box .search_box,.logo_box .gwc{
	display: inline-block;
	
}
.search_input{
	width: 450px;
	height: 32px;
	padding-left: 40px;
	border: 3px solid #FF7200;
}
.logo_box .search_box{
	margin-left: 70px;
	width:800px;
	position:relative;

}
.logo_box .search_box p a:nth-child(1){
	margin-left: 10px;

}
.logo_box .search_box p a{
	margin-right: 14px;
	font-size: 14px;
}
.logo_box .search_box p{
	padding: 3px 0;

}
.logo_box  .search{
	width: 95px;
	height: 40px;
	background: #ff7200;
	color:#fff;
	margin-left:-4px;
}
.logo_box .gwc{
	float: right;
	width: 146px;
	height: 36px;
	position: absolute;
	top:0px;right: 0px;
	background-color: #f9f9f9;
	border:1px solid #DBDBDB;
	padding:2px 0;
	box-sizing:border-box;
}
.logo_box .gwc em{
	display: inline-block;
	font-size: 26px;
	margin-left: 17px;
	    color: #ff7200;
	    padding-right: 3px;
}
.logo_box .gwc a{
	line-height: 36px;
}
.logo_box .gwc .ci-right{
	top: 11px;
    right: 10px;
    width: 7px;
    height: 13px;
    overflow: hidden;
        font: 400 14px/13px simsun;
        color:#999;
}
.logo_box .gwc .ci-count{
	position: absolute;
	top:-4px;
	right:24px;
	font-size: 10px;
	line-height: 12px;
	min-width:12px;
	padding:1px 2px;
	color: #FFF;
    background-color: #ff7200;
    border-radius:7px 7px 7px 0;
    text-align:center;

}


/*头部菜单导航区域*/
header .menu{

	margin-top: 42px;
	/*border-bottom:3px solid #ff7200;*/
	/*position: relative;*/
	height:40px;
}
header .menu li{
	float: left;
	height:40px;
	box-sizing: border-box;
	    position: relative;
}
header .menu li:nth-child(4){
	position: relative;
}
.menu .nav_bar_left_title{
	float: left;
	/*position: absolute;*/
}
.menu .nav_bar_left_title a.products{
	display:inline-block;
	width: 200px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	background: #ff7200;
	color:#fff;
	font-size: 16px;
}
.hot_icon{
	width: 29px;
	height: 17px;
	background: url(../images/indexhead_sprite.png) no-repeat -272px -144px; 
	position:absolute;
	top:-8px;
	left:54px;
}
header .menu .nav_name li{
	margin-right: 15px;
}
header .menu .nav_name li a{
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	padding:0 15px;
	display: inline-block;
	box-sizing: border-box;
}

header .menu .nav_name li a:hover{
	background-color: #ff7200;
	color:#fff;

}
header .bottom_line{
	width:100%;
	border-bottom: 6px solid #FF7200;
}
.nav_bar_left_items{
	width: 200px;
	height: 460px;
	background: #FF8C2F;
	box-sizing: border-box;
	/*margin-top:6px;*/
	z-index:6;
}
.nav_bar_left_items .menu_list{
	padding-left: 4px;
}
.nav_bar_left_items .menu_list li{
	width: 196px;
	height: 58px;
	box-sizing: border-box;
	padding-left: 9px;
	/*border-bottom:2px solid #F4A764;*/
	background:url(../images/split_line_03.png) repeat-x bottom;
}
.nav_bar_left_items .menu_list li:nth-child(2n){
	height:57px;
}
.nav_bar_left_items .menu_list li:hover{
	background: #fff;
	color:#000;
	/*padding-left: 4px;*/
}
.nav_bar_left_items .menu_list li:hover a{
	/*background: #fff;*/
	color:#000;
}
.nav_bar_left_items .menu_list li:hover span{
	color:#000;
}
.nav_bar_left_items li .menu_name{
	
	
}
.nav_bar_left_items li .menu_name a{
	width: 196px;
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	color:#fff;
}
.nav_bar_left_items li .menu_name>span{
	color:#fff;
	font-size: 16px;
	margin-right: 10px;
	width:6px;
	line-height: 28px;
	height:28px;
	display:inline-block;
}
.nav_bar_left_items li .linkname{
	height: 30px;
	line-height: 30px;
}
.nav_bar_left_items li .linkname a{
	float: left;
	display: inline-block;
	font-size: 12px;
	color:#fff;
	padding:0 7px;
}
.nav_bar_left_items li .linkname p>a{
	padding-left:0;
}
/******************index.html样式***********************/
header.top_header{
	position: relative;
}
header.top_header>div.menu{
	position: absolute;
    top: 136px;
    left: 0px;
    z-index: 1000;
}
/*轮播图区域*/
.slideBox{
	width:100%;
	height: 460px;
	position: relative;	
	top:69px;
	border-top:4px solid #EE6800;
}
.slideBox .bottom_ul{
	width: 100%;
	height: 30px;
	position: absolute;
	top: 426px;
	z-index:3;
}
.slideBox .bottom_ul ul{
	
	width: 200px;
	height: 30px;
	line-height: 30px;

	background: #fff;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	opacity:0.8;
	filter:alpha(opacity=80);	/*兼容低版本IE浏览器透明度属性设置*/
	-moz-opacity:0.8;	/*火狐兼容*/
	text-align: center;
	padding:0 30px;
	box-sizing: border-box;

}

.slideBox .bottom_ul .lbt_dots li {
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow:hidden;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	margin-right:8px;
	background: #000;
	box-shadow:0 0 3px;
	float: left;
	margin-top:5px;
	cursor:pointer;
	/*zoom:1;*/
}
.slideBox .bottom_ul .lbt_dots li.on{
	background: #CC0000;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.slideBox .lunbo_imgs{
	/*position: relative;*/
	width: 100%;
	/*border:1px solid green;*/
	/*left:300px;*/
	/*top:0;*/
}
/*轮播图片布局*/
.slideBox .lunbo_imgs  ul {
	width: 100%;
	height:460px;
	/*border:1px solid green;*/
	/*position:relative;*/

}
.slideBox .lunbo_imgs li{
	/*float: left;*/
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:460px;
	/*line-height: 460px;*/
	text-align:center;
}
.slideBox .lunbo_imgs li:nth-child(1){

	background-color: #ffe382;
}
.slideBox .lunbo_imgs li:nth-child(3){
	
	background-color: #D591C0;
}
.slideBox .lunbo_imgs li:nth-child(4){
	background-color: #F2D9E8;
}
.slideBox .lunbo_imgs li:nth-child(5){
	background-color: #ED5634;
}
.slideBox .lunbo_imgs li a{
	display: inline-block;
	width:100%;
	height:460px;
	
}
.slideBox .lunbo_imgs li img{
		height:460px;
		
}	
.slideBox .lunbo_imgs .lunbo_img1{
	width:780px;
}
.slideBox .lunbo_imgs .lunbo_img2{
	min-width:100%;
	background-position:center center;
}

.slideBox .lunbo_imgs .lunbo_img3{
	width:780px;
	background-size:cover;
}
.slideBox .lunbo_imgs .lunbo_img7{
	width:556px;
	height: 460px;
	background-position: center;
	/*background-size:contain;*/
}
.slideBox .lunbo_imgs .lunbo_img6{
	width:700px;
	/*height: 460px;*/
	/*background-position: center;*/
	background-size:cover;
}
/*轮播图左右两个按钮*/
.slideBox .lunbo_imgs~div a{
	width: 30px;
	height: 100px;
	margin-top: 165px;
	position:absolute;
	/*top:156px;*/
	background:#fff;
	opacity:0.3;
	filter:alpha(opacity=30);
	border-radius:10px;
	top:0;
	box-sizing:border-box;
}
.slideBox  .prev a{
	left:0;
}
.slideBox  div em{
	width:20px;
	height:20px;
	display:inline-block;
	/*border:1px solid red;*/
	position: absolute;
	top:40px;
	
}

.slideBox  .prev a em{
	left:4px;
	background: url(../images/arrow-left.png) no-repeat;
	
	/*z-index:4;*/
	
	/*left:76px;*/
}
.slideBox  .next a{
	right:0;
}
.slideBox  .next a em{
	background: url(../images/arrow-right.png) no-repeat;
	left:12px;
}
/*推荐产品*/
.tj_products{
	width: 1200px;	
	height: 184px;	
	margin-top: 90px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}
.tj_ul{
	display:flex;
	justify-content:flex-start;
	padding:10px 0 10px;
	height:170px;
	float: left;
	box-sizing: border-box;
}
.tj_first{
	background: url(../images/recommend_bg_07.png) no-repeat;
	width: 200px;	
	height: 184px;	
	float: left;
	border:0;
	/*display: inline-block;*/
}
.tj_products .tj_ul li{
	width: 250px;	
	border-right:1px solid #dddddd;
	padding-right: 5px;
	box-sizing: border-box;
}

.tj_products .tj_ul li img{
	width: 110px;	
	height: 150px;	
	transition:all .5s linear;
	    margin: 0 5px;
}
.tj_products .tj_ul li img:hover{
	transform: scale(1.1);
}
.tj-pro-detail{
	float: right;
	width: 117px;	
	height: 128px;	
}
 .tj_ul a.tj-details{
	display: inline-block;
	font-size: 10px;
	height:24px;
	line-height:12px; 
	overflow:hidden;
    margin-bottom: 10px;
 }
 span.tj-price{
 	color:#FF0000;
 	padding-left: 5px;
 	font-size: 20px;
 }
 a.tj-buy{
 	display:inline-block;
 	text-align: center;
 	width: 90px;	
 	height: 28px;	
 	border:1px solid #ddd;
 	line-height: 28px;
 	background: linear-gradient(to bottom,#fefefe,#e8e8e8);
 	margin-left: 6px;
 	color:#666666;
 	margin-top: 19px;
 }
 /*鲜盟店铺*/
  .xm-dianpu  span.xmdp-title{
  	/*width:110px;*/
  	font-size: 20px;
  	/*box-sizing: border-box;*/
  	padding:5px 20px;
  	/*line-height: 40px;*/
  	border-bottom: 3px solid #FF7200;
  }
 .xm-dianpu .areas{
	height: 240px;
	border:1px solid #ddd;
		position: relative;
 }
.xm-dianpu  .xm-div{
	padding: 5px 20px;	
 }
  .xm-dianpu .areas ul {
  	display:flex;
  	justify-content:flex-start;
  	flex-wrap :wrap;
  	/*position: absolute;
  	left:20px;
 	top:15px;*/
 	padding: 20px 0  0 20px;
  }
 .xm-dianpu .areas ul li{
 	width: 278px;	
 	height: 110px;	
 	
 }
  .xm-dianpu .areas .area-title {
  	margin-bottom: 4px;
  }
  .xm-dianpu .areas .area-title a{
  	font-size: 18px;
  	cursor:pointer;
  }
.xm-dianpu .area-list a{
	display: block;
	width: 82px;
	height: 24px;
	line-height:24px;
	text-align: center;
	margin-right: 4px;
	float: left;
}
.xm-dianpu .area-list a:hover{
	background: #F60;
	color:#fff;
}
/*最新订单*/
.order-product{
	margin-top: 22px;
	height: 278px;
}
.order-product .left-order{
	width: 260px;
	height: 280px;
	border: 1px solid #ddd;
	float: left;
}
.order-product .order-title{
	height: 34px;
	background: #F4F4F4;
}
.order-product .order-title a {
	width: 107px;
	line-height: 34px;
	font-size: 15px;
	display: block;
	float: left;
	text-align: center;
	padding:0 5px;
}
.order-product .order-title a:hover{
	background: #fff;
	height: 34px;
	border-top: 2px solid #FF6600;
}
.order-product .info{
	padding:26px 0 0 21px;
}
.order-product .info a{
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	overflow: hidden;
}
/*热销产品*/

.right-rx-product{
	float: right;
	width: 920px;
	height: 40px;
	/*border:1px solid red;*/
}
.right-rx-product .rx-title {
	border:1px solid #ddd;
	height: 40px;
	padding:3px auto;
	box-sizing: border-box;
}
.right-rx-product .rx-title em{
	display: inline-block;
	width:8px;
	height: 24px;
	line-height: 40px;
	margin-left: 10px;
	margin-top: 5px;
	background: #FF6600;
}
.right-rx-product .rx-title span{
	height:40px;
	line-height: 40px;
	font-size: 18px;
}

.right-rx-product .rx-title ul.square-ul{
	float: right;
	margin-top: 16px;
}
.right-rx-product .rx-title li{
	width: 15px;
	height: 15px;
	background: #ED5C00;
	float: left;
	margin-right: 10px;
}
.right-rx-product .rx-title li:first-child{
	background: #909090;
}
.right-rx-product .rx-products-list{
	border:1px solid #ddd;
	border-top:0;
}
.right-rx-product .rx-products-list ul li{
	width: 209px;
	height: 231px;
	padding:10px 10px 0px 10px;
	/*border:1px solid green;*/
	float: left;

}
.right-rx-product .rx-products-list ul li img{
	width: 160px;
	height: 160px;
	transition:all .5s linear;
}
.right-rx-product .rx-products-list ul li img:hover{
	transform:scale(1.1);
}
.right-rx-product .rx-img-a{
	display:block;
	text-align: center;
	/*width: 209px;*/
}
.right-rx-product .rx-detail{
	height:36px;
	line-height: 18px;
	overflow:hidden;
}
.right-rx-product .rx-price{
	font-size: 18px;
    color: #F30;
    /*display: inline-block;*/
}
.right-rx-product .rx-sell{
	float: right;
	line-height: 24px;
}
.right-rx-product .rx-sell b{
	color:#F30;
	/*font-weight: normal;*/
}
/*限时促销*/
.xscx{
	height: 388px;
	margin-top: 20px;
}
.xscx .xscx-title{
	height:40px;
	line-height: 40px;
	/*margin-bottom: 3px;*/
	border-bottom: 4px solid #EE6800;
}
.xscx .xscx-title .icon-time{
	font-size: 22px;
	color: #ff7200;
	margin:0 5px;
}
.xscx .xscx-title  span{
	font-size: 18px;
}
.xscx .xscx-title  a{
	float: right;
	    color: #000;
    font-size: 14px;
    margin-right: 10px;
}
.xscx .xscx-items{
	height: 323px;
	border:1px solid #ddd;
	border-top:0;
}

.xscx .xscx-items .xscx-ul li{
	width: 239px;
	height: 321px;
	/*border:1px solid red;*/
	float: left;
	box-sizing: border-box;
}
.xscx .xscx-items .xscx-ul li:last-child .xscx-box{
	border-right: 0;
}
.xscx .xscx-items .xscx-img-a{
	display: block;
	text-align:center;
	padding:10px;
}
.xscx .xscx-items .xscx-img-a img{
	width: 180px;
	height: 180px;
	transition: all .5s linear;

}
.xscx .xscx-items .xscx-img-a img:hover{
	transform: scale(1.1);

}
.xscx .xscx-items .xscx-detail{
	    height: 36px;
    line-height: 18px;
    overflow: hidden;
}
.xscx .xscx-items .xscx-price{
	    font-size: 14px;
    color: #F30;
}
.xscx .xscx-items .xscx-price b{
	font-size: 24px;
}
.xscx .xscx-items span.xscx-sub-price{
	color:#CCC;
	font-size: 16px;
	text-decoration:line-through;
	margin-left: 15px;
}
.xscx .xscx-items .xscx-ul button{
	background: #EE6800;
	width: 220px;
	height: 30px;	
	line-height: 30px;
	border:0;
	color:#fff;
	font-size: 15px;
	text-align: center;
}
.xscx .xscx-items .xscx-box{
	border-right:1px solid #ddd;
	padding:10px;
	padding-bottom: 14px;
	box-sizing: border-box;
	border-right:1px solid #ddd;
}
/*中间广告*/
.center-ad{
	height: 140px;
}
/*3个楼层区域*/
.floor-box .floor-box{
	height: 512px;

}
.floor-box .floor1{
	margin-bottom:20px;
}
.floor-box .fl-title{
	height:39px;
	line-height: 39px;
	border-bottom: 3px solid #EE6800;
}
.floor-box .fl-title em{
	color:#fff;
	padding:4px 10px;
	background: #EE6800;
	font-size: 24px;

}
.floor-box span.fl-title-div{
	float: right;
	height:39px;
	line-height: 39px;
}
.floor-box span.fl-title-div a{
	margin:0 5px;
	font-size: 12px;
}
.floor-box .fl-items{
	display: flex;
	justify-content: space-between;
	flex-wrap:nowrap;
}
.floor-box .fl-lbt{
	/*width: 400px;
	height: 470px;*/
}
.floor-box .fl-lbt-ul img{
	width: 400px;
	height: 514px;
}
/*.floor-box .fl-porducts{
	width: 800px;
	height: 40px;
	border:1px solid green;
	
}*/
.floor-box .fl-porducts .fl-pro-ul li{
	width: 200px;
	/*height: 235px;*/
	/*border:1px solid red;*/
	float: left;
	padding:5px;
	box-sizing: border-box;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;

}
.floor-box .fl-porducts a.fl-a-img{
	text-align: center;
	display: block; 
	/*margin-bottom: 10px;*/
	    margin: 7px 0 10px;
}
.floor-box .fl-porducts img{
	width: 180px;
	height: 160px;
	transition: all .5s linear;
}
.floor-box .fl-porducts img:hover{
	transform: scale(1.1);
}
.floor-box .fl-porducts a.fl-pro-details{

}
.floor-box .fl-porducts .fl-porducts-div{
	margin-top: 10px;
	/*border:1px solid red;*/
}
.floor-box span.xscx-price{
	    
	      color: #F30;
	      font-size: 14px;
}
.floor-box  span.xscx-price i{
	 font-size: 18px;
  
}
.floor-box  span.xscx-sub-price{
	font-size: 14px;
	float: right;
}

.floor-box  span.xscx-sub-price i{
	color:#F30;
	font-size: 12px;
}
/*猜你喜欢*/
.cnxh-box{
	height: 745px;
}
.cnxh-box .title{
	text-align: center;
	border-bottom: 1px solid #ddd;
	height:40px;
	line-height: 40px;
}
.cnxh-box .title span{
	padding:4px 10px;
	font-size: 24px;
	border-bottom: 3px solid #F60;
}
.cnxh-box .cnxh-pros{
	padding-left: 15px;
}
.cnxh-ul{
	height: 704px;
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
.cnxh-ul li{
	width: 259px;
	height: 300px;
	padding:10px;
	border:1px solid #ddd;
	margin:15px;
	margin-left: 0;
}
.cnxh-ul li:hover{
	border:1px solid #F90;
}
.cnxh-ul li:hover img{
	transform:scale(1.1);
}
.cnxh-ul li img{
	transition:all .5s linear;
}
.cnxh-ul a.cnxh-a{
	display: block;
	    height: 220px;
    width: 255px;
	text-align: center;
	    margin-bottom: 10px;

}
.cnxh-ul a.cnxh-detail{
	font-size: 14px;
	height:36px;
	line-height: 18px;
	overflow:hidden;
}
.cnxh-ul a.cnxh-a img{
	width: 210px;
	height: 210px;
}
.cnxh-ul .cnxh-div{
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
}
.cnxh-ul .cnxh-div span.price{
	color:#F30;
	font-size: 18px;	
	font-weight: bold;
}
.cnxh-ul .cnxh-div span.price i{
	font-size: 14px;
}
.cnxh-ul .cnxh-div span.sell{
	float: right;
	color:#999;
} 
.cnxh-ul .cnxh-div span.sell i{
	color:#F30;
	padding:3px 4px;
}
/******************footer.html样式***********************/
#footer .footer-ul{
	display: flex;
	justify-content: space-between;
margin-top: 20px;

}
#line{
	width:100%;
	border:1px solid  #ddd;
	margin-top: 20px;	
}
#footer .footer-imgs{
	padding:20px 0	;
}
#footer .footer-ul li{
	width: 300px;
	height: 60px;
	/*border:1px solid red;*/
}
#footer .footer-ul li .safe{
    font-size: 24px;
		color: #333;
	font-weight: bold;
	display: block;
}
#footer .footer-ul li a.footer-icon{
	display: inline-block;
	float: left;
	margin-right: 10px;
}
#footer .footer-ul li span{
	line-height: 34px;
    height: 34px;
    font-size: 16px;
	color:#666;
}
#phone{
	width: 100%;
	margin:0 auto;
	    background: #000;
	    height: 70px;
	    color:#fff;
}
#phone .phone-content{
	width: 1200px;
	margin:0 auto;
	padding:10px 0;
	height:50px;

}
#phone .icon-dianhua{
	font-size: 40px;
	float: left;
}
#phone .phone-content span.hot-phone{
	font-size: 40px;
	font-weight: bold;
	float: left;
	font-family: Impact;
}
#phone .phone-content  span.kf-hotline{
	line-height: 48px;
	height: 48px;
	display: block;
	float: left;
	margin-left: 13px;
}
.footerbox{
	height:255px;

}
.footerbox .footer-ul {
	margin-top: 20px;
	display: flex;
	justify-content:space-between;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}
.footerbox .footer-ul li{
	width: 140px;
	height: 144px;
	padding:0 50px;
}
.footerbox .footer-ul li h1{
	font-weight: bold;
	font-size: 18px; 
	padding-bottom: 4px;

}
.footerbox .footer-ul li a{
	display: block;
	padding-bottom: 7px;
}
.footerbox .about-us {
	margin: 15px  0; 
}
.footerbox .about-us  li{
	float: left;
	border-right:1px solid #ddd;
	padding-right:5px;
	padding-left:9px ;
}
 .footerbox .about-us  li:last-child{
 	border-right:0;
 }

.footerbox .about-us  li:first-child{
	padding-left: 0;
}
.footer-box{
	height:470px;
}
/*右侧菜单栏购物车区域*/
.fixedBox{
	position: fixed;
	width:5px;
	height:100%;
	background: #333;
	top:0;
	right:0;
}
.fixedBox .flxedBoxList{
	width: 45px;
	height: 556px;
	position: relative;
	margin-top: 120px;
	right:40px;
	/*border:1px solid red;*/
	background: #333;
	padding:10px 0;
	border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	-o-border-radius:5px 0 0 5px;
	border-left:3px solid #F90;
}
.fixedBox .flxedBoxList li{
	width: 45px;
	margin-bottom: 5px;
}


.fixedBox .flxedBoxList li a.fixedBox-a{
	color:#fff;
	display: block;
	/*width: */
	text-align: center;
	padding: 10px 1px 1px 1px;

}
.fixedBox .flxedBoxList li:hover{
	background: rgb(202, 8, 88);
}
.fixedBox .flxedBoxList li a em{
	display: block;
	width: 40px;
	height: 30px;
	margin:0 auto;
	font-size: 30px;
}
.fixedBox .flxedBoxList li a {
	position: relative;
}
.fixedBox .flxedBoxList li a em.gwc:after{
	content:'0';
	font-size: 12px;
	display: block;
	height:15px;
	line-height: 15px;
	background: #FF0000;
	position: absolute;
	top:0px;
	right:0px;
	padding:1px 2px;
	font-weight: bold;	
font-emphasize-style: accent;

}
.fixedBox .flxedBoxList li span{
	font-size: 14px;
	padding:0 5px;
}
/******************Login.html***********************/
#login-box{
	margin-top: 20px;
}
#login-box a.logo{
	display:block;
	text-align: center;
	margin-bottom: 20px;	
}
#login-box a.logo img{
	width: 322px;
	height: 90px;
}
#login-box .form-box form{
	width: 600px;
	border:3px solid #F60;
	margin: 0 auto;
	position: relative;
	    padding: 50px 20px;
    box-sizing: border-box;
}
#login-box .login-form{
	height: 549px;
	height: 508px;
}
#login-box .register-form{
	height: 508px;
}
#login-box .title_name{
	height:73px;
	text-align: center;
	overflow:hidden;
	/*border-bottom: 3px solid #F60;*/
}
#login-box .title_name span{
	display: inline-block;
	width:156px;
	height: 156px;
	line-height:73px;
	font-size: 30px;
	color:#fff; 
	border-radius: 50%;
	background: #F60;
}
#login-box .form-box{
	position: relative;
}
#login-box .form-box~div{
	position: absolute;
}
#login-box .form-box .left-pic{
	width:506px;
	height: 562px;
	background: url(../images/bg_name_03.png) no-repeat ;
	position: absolute;
	    left: 149px;
    top: -40px;
}
#login-box .form-box .right-pic{
	width: 508px;
	height: 570px;
	background: url(../images/bg_name_05.png) no-repeat ;
	position: absolute;
	right: 150px;
    top: -45px;

}
#login-box .form-box .login-form{
	padding:50px 20px;
	box-sizing:border-box;
}
#login-box .form-box .p-username{
	width: 450px;
	height: 40px;
	padding:5px;
	border:1px solid #ddd;
}
#login-box .form-box .login_divBox{
	    margin: 0 auto;
    width: 465px;
}
#login-box .form-box .input-user-li,.input-pwd-li,.input-mail-li{
	
	border:1px solid #ddd;
	font-size: 14px;
	position: relative;
	margin-bottom: 20px;
	padding:5px;
    width: 465px;
    box-sizing: border-box;
    height: 48px;
    line-height: 40px;
}

#login-box .form-box .login-ul input{
	line-height: 30px;
	width: 200px;
	height: 30px;
	padding:5px 20px;
	padding-left: 40px;
}
#login-box em{
	display: inline-block;
	width: 20px;
    height: 20px;
	position: absolute;
	padding-right: 15px;
	left:2px;
	top:9px;
	background: url(../images/Complex_img.png) no-repeat ;
    margin:5px 0;
}
#login-box .form-box em.Codes_icon{
	background-position:-101px  -69px;
}
#login-box .user_icon{
	background-position:-97px -39px;
}
#login-box .password_icon{
	background-position:-102px -10px;
}
#login-box .auto_login{
	margin-top: 30px;
	min-height:24px;
	line-height: 24px;
}
#login-box  a.forget_pwd{
	float: right;

}
#login-box p.login-forget a{
	color:#999;
}

#login-box a.login-checkbox{
	background: url(../images/Complex_img.png) no-repeat -287px -149px;
	padding-left: 18px;
	width:13px;
	height: 13px;
}
#login-box  .instance_login {
	text-align: center;
}
#login-box  .instance_login .form_submit{
	display: block;
	width:100%;
	height: 49px;
	line-height: 49px;
	color:#fff;
	background: #ff635b;
	font-size: 16px;
	margin-top: 15px;
	cursor:pointer;
}
#login-box  .instance_login .fail{
	display: block;
	width:100%;
	height: 49px;
	line-height: 49px;
	color:#fff;
	background: gray;
	font-size: 16px;
	margin-top: 15px;
}
#login-box  .instance_login a:hover{
	background: #DB4139;
}
#login-box  .other_method{
	    margin: 30px 0px;
    text-align: center;
}
#login-box  .other_method .title{
	border-bottom: 1px solid #ddd;
	    font-size: 14px;
	        color: #999;
	text-align: center;
}
#login-box  .other_method .title span{
	background: #fff;
	top:10px;
	position: relative;
}
#login-box   .icon_login{
	text-align: center;
}
#login-box   .icon_login a{
	/*float: left;*/
	margin: 0 10px;
}
/*注册信息提示*/






















